fastapi
uvicorn
neo4j
chromadb
langchain
langchain-community
langchain-core
langchain-openai
langgraph
streamlit
ragas
sentence-transformers
pydantic
python-dotenv
tree-sitter
tree-sitter-python
streamlit-agraph
duckduckgo-search
